/* import fonts from fonts.css file */
@import url(./fonts.css);

/* CSS Variables */
@import url(./partials/_variables.css);


/*start navigation*/

.header_area .main-menu .navbar.navbar-brand{
    padding: 0 1rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 10rem;
}

.header_area.main-menu .navbar-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-colour);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-colour);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-colour);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/*end navigation*/


/* Banner Area */
.site-main .site-banner {
    background: url(../img/banner/my-home-banner.png) no-repeat 0% 50%;
}


.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}

.title-text{
    font: normal bold 50px/ 72px var(--roboto);
}
/* End Banner Area */
